#logoPrincipal{
	max-width: 30%;
	min-width: 13%;
	width: 13%;
	margin-left: 2%;
}


	.divPerfil{
	width: 70%;
	min-width: 60%;
	max-width: 90%;
	box-sizing: border-box;
	height: 100% !important;
	padding-bottom: 5% !important;
	margin-top: 7% !important;
}
@media screen and (max-width: 1000px){
	.divPerfil{
		margin-top: 15% !important;
		margin-left: 10%;
	}
	#PerfilBasico{
		margin-top: 5%;
		width: 100%;
		margin-left: 25%;
	}
	#imgPerfil{
		width: 50%;
	}
	#pestanasC{
		margin-left: 5%;
		width: 95%;
	}
}

#divregistro{
	width: 70%;
	margin-left: 20%;
}

@media screen and (max-width: 1600px){
	.logoRegistro{
		#divregistro{
			width: 70%;
			margin-left: 5%;
			margin-right: 5%;

		}
	}
	.registroLabel{
		width: 80%;
		margin-left: 5%;
	}
	.form-inline{
		margin-left: 10%;
		width: 70%;
	}
	.inputRegistro{
		width: 100%;
	}
}

@media screen and (max-width: 1000px){
	.form-inline{
		padding-right: 5%;
		width: 90%;
	}
	.logoRegistro{
		margin-left: 25%;
	}
	#divregistro{
		width: 80%;
		margin-left: %;
		margin-right: %;
	}
	.buttonSpecial{
		margin-left: 40%;
		margin-top: 10%;
	}
	.registroLabel{
		width: 100%;
		margin-left: %;
	}
	.inputRegistro{
		width: 100%;
	}
}


@media screen and (max-width: 1000px){
	#Navbar{
		width: 100%;

	}
	#logoPrincipal{
		width: 18%;
	}
	#opcionesNav{
		width: 50%;
	}
	#divregistro{
		margin-left: 5%;
		padding-left: 10%;
		margin-right: 5%;
		width: 70%;
	}

}
@media screen and (max-width: 800px){
	#Navbar{
		width: 100%;
	}
	#logoPrincipal{
		width: 100%;
	}
	#opcionesNav{
		width: 100%;
	}
}

#opcionesNav{
	margin-left: 0px;
	width: 100%;
	max-width: 100%;
	min-width: 50%;
}

@media screen and (max-width: 1000px){
	#divNoticiasHome{
		width: 30%;
		margin: 20%;
	}
	#dviPerfilHome{
		width: 40%;
		padding:5% 5% 5% 45%;
		margin: 2px;
	}
}

#grabar{
	height: 180px;
	border: none;
}

#note {
	font-size: 164px;
}
.droptarget {
	background-color: #348781
}
div.confident {
	margin-top: 150px;
	color: white;
}
div.vague {
	margin-top: 150px;
	color: lightgrey;
}
#note {
	display: inline-block; height:180px; text-align: left;
}

#detector {
	width: 300px; height: 300px; border: 4px solid gray; border-radius: 8px; text-align: center; padding-top: 10px;
}
#output {
	width: 300px; height: 42px;
}
#flat {
	display: none;
}
#sharp {
	display: none;
}
.flat #flat {
	display: inline;
}
.sharp #sharp {
	display: inline;
}

#buscarAmigos{
	padding-top: 10px;
	margin-top: 40px;
	background: url(../../images/background2.png);
	opacity: 0.8;
	height: 550px;
	margin-bottom: 100px;
	border: 2px solid rgba(172,32,45,0.8);
}

#buttonBuscarAmigos:hover{
	background: transparent;
	border: 1.2px solid white !important;
}

#buttonBuscarAmigos{
	background: transparent;
	color: white !important;
	border: 2.2px solid white !important;
}

.divPerfilEditar{
	background: url(../../images/background2.png);
	background-size: 100% auto;
	opacity: 0.9;
	height: 60% !important;
	padding-top: 10px;
	margin-top: 40px;
	margin-bottom: 100px;
	border: 2px solid rgba(172,32,45,0.8);
}

#imgPerfil{
	padding-right: 10px;
}

#editarPerfil{
	margin-top: 20px;
	background:transparent;
}

#divImagEditar{
	margin-bottom: 40px;
	margin-left: 15px;
}
.buttonEditar{
	font-size: 1.2em !important;
	font-weight: 600 !important;
	color: white !important;
	padding-top: 12px !important;
}

.informacionEditar{
	margin-bottom: 50px;
}
#imgEditar{
 padding: 0px;
 margin: 0px;
}
#H4editar{
	color: white;
	font-size: 0.6em;
}
.editarLabel{
	font-size: 1.1em;
	color: white;
}

.inputEditar{
	height: 25px !important;
	width: 190px !important;
}

#nickNameMenu{
	font-size: 1.4em !important;
}

#imagMenu{
	margin-top: 10px;
	margin-right: 40px;
}

#Navbar{
	margin-top: -50px;
	background-color: rgba(172,32,45,.0);
	height: 60px;
	border-top: 0px solid #000;
	border-bottom: 0px solid #000;
}

#fondo_principal{
	margin-top: 10%;
	background-color: rgba(255,255,255,.6);
	padding: 30px;
}

#imagen_principal{
	margin-top: 10%;
}

.vernoticia{
	color: white !important;
	font-size: 1em !important;

}

.divvernoticia{
	padding: 10% 2% 2% 2px;
	box-sizing: border-box;
}
#verMas{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 1em;
}

#divregistro{
	font-size: 0.9em;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
	border: solid 3px rgba(160, 160, 160, 0.65);
	background: transparent;
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center 0;
	padding-bottom: 50px !important;
	margin-bottom: 70px;
	margin-top: 120px;
}
.buttonSpecial{
	margin-top: 20px;
	text-align: center;
	border: solid 2px rgba(160, 160, 160, 0.65);
	font-size: 1.2em;
	font-weight: 900;
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgba(172,32,45,.9);
}
.buttonSpecial:hover{
	font-size: 1.4em;
	color: rgba(172,32,45,1);
	border: solid 2.4px rgba(160, 160, 160, 1);
}
.logoRegistro{
	margin-bottom: 50px;
}
.inputRegistro{
	font-size: 1.1em !important;
	font-weight: 600 !important;
}
