#Navbar{
	margin-top: -50px;
	background-color: rgba(172,32,45,.6);
	height: 60px;
	border-top: 0px solid #000;
	border-bottom: 0px solid #000;
}

#fondo_principal{
	margin-top: 10%;
	background-color: rgba(255,255,255,.6);
	padding: 30px;
}

#imagen_principal{
	margin-top: 10%;
}

.vernoticia{
color: white !important;
font-size: 1em !important;
}
#verMas{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-size: 1em;
}

#divregistro{
	font-size: 0.9em;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
	border: solid 3px rgba(160, 160, 160, 0.65);
	background: transparent;
	background-repeat:no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center 0;
	padding-bottom: 50px !important;
	margin-bottom: 70px;
	margin-top: 120px;
}
.buttonSpecial{
	margin-top: 20px;
	text-align: center;
	border: solid 2px rgba(160, 160, 160, 0.65);
	font-size: 1.2em;
	font-weight: 900;
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgba(172,32,45,.9);
}
.buttonSpecial:hover{
	font-size: 1.4em;
	color: rgba(172,32,45,1);
	border: solid 2.4px rgba(160, 160, 160, 1);
}
.logoRegistro{
	margin-bottom: 50px;
}
.inputRegistro{
	font-size: 1.1em !important;
	font-weight: 600 !important;
}
