<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Scan</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="/bootstrap-css/css/bootstrap.min.css">
</head>
<body ng-app="AngularScaffold">
  <div  ng-controller="NavbarController">
    <nav id="Navbar" class="main">
      <div class=" row container-fluid" >
        <img id="logoPrincipal" src="images/scan-blanco.png" alt="logo" height="100px">
        <div class="navbar-header pull-right">
          <form class="navbar-form navbar-right" role="search">
            <div id="opcionesNav" class="form-group" ng-show="!$sessionStorage.currentUser">
              <input type="text" class="form-control" placeholder="Usario" ng-model="user.username">
              <input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password">
              <button type="submit" class="btn btn-default" ng-click="login(user)">Iniciar</button>
              <button type="submit" class="btn btn-default" ng-click="register()">Registrarse</button>
            </div>
            <div class="row">
              <a class="fa-bars" href="#menu" ng-show="$sessionStorage.currentUser">
              <img id="imagMenu" src="images/menu1.png" alt="menu" width="50px">
              </a>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="container">
    <div ui-view></div>
  </div>
  <section id="menu" ng-controller="ScanController" ng-show="$sessionStorage.currentUser">
    <!-- Search -->
    <section>
      <form class="search" method="get" action="#">
        <input type="text" name="query" ng-click="" placeholder="Buscar Amigos" />
      </form>
    </section>

    <!-- Links -->
    <section>
      <ul class="links">
        <li>
          <a href='javascript:cambiarPestanna(pestanas,pestana2);'>
            <h3 id="nickNameMenu" ng-click="changeview('/perfil')">{{$sessionStorage.currentUser.username}}</h3>
          </a>
        </li>
        <li>
          <a href="#">
            <h3 class="Hmenu">Mis amigos</h3>
          </a>
        </li>
        <li>
          <a href="#">
            <h3 class="Hmenu">Biblioteca</h3>
          </a>
        </li>
        <li>
          <a ng-click="changeview('/audio')">
            <h3 class="Hmenu">Crear partitura</h3>
          </a>
        </li>
      </section>
      <!-- Actions -->
      <section ng-controller="NavbarController">
        <ul class="actions vertical">
          <li><a id="salir" class="buttonSpecial col-md-8 " ng-click="logout()">Cerrar sesion</a></li>
        </ul>
      </section>
    </section>
  </body>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="scripts/audio.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bootstrap-css/js/bootstrap.min.js"></script>
  <script src="/ngstorage/ngStorage.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.js"></script>
  <script src="app.js"></script>
  <script src="scripts/controllers/ScanController.js"></script>
  <script src="scripts/controllers/navbarController.js"></script>
  <script src="scripts/services/authService.js"></script>
  <script src="scripts/services/ScanService.js"></script>
  <script src="assets/js/jquery-1.10.2.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
</html>
