<div id="perfilBody" ng-controller="ScanController">
				<!-- perfil -->
					<div class="divPerfilEditar col-md-6 col-md-offset-2">
						<!-- Pestañas COMIENZO-->

              <div id="editarPerfil" class="col-md-6 col-md-offset-1">

                <div class="informacionEditar">
                  <form class="form-inline">
                    <label class="col-lg-81 editarLabel">Primer nombre  </label>
                    <input type="text" class=" form-control inputEditar"  ng-model="user.name.first">
                  </form>
                  <form class="form-inline">
                    <label class="col-lg-8 editarLabel">Apellido  </label>
                    <input type="text" class=" form-control inputEditar" ng-model="user.name.last">
                  </form>
                  <form class="form-inline">
                    <label class="col-lg-8 editarLabel">Email  </label>
                    <input type="text" class=" form-control inputEditar"  ng-model="user.mail">
                  </form>
                </div>
		            <a href='javascript:cambiarPestanna(pestanas,pestana2);' class="buttonEditar buttonSpecial col-md-6 col-md-offset-1" ng-click="GuardarPerfil()">Guardar</a>
        				<a href='javascript:cambiarPestanna(pestanas,pestana2);' class=" buttonEditar buttonSpecial col-md-6 col-md-offset-1" ng-click="changeview('/perfil')">Cancelar</a>
              </div>
						<!-- pestañas FIN -->
					</div>
	</div>
