<div id="perfilBody" ng-controller="ScanController">
				<!-- perfil -->
					<div class="divPerfil col-md-8 col-md-offset-2">
						<div id="PerfilBasico" class="col-md-4">

							<div class="row">
								<div id="divcito"></di>
								<img id="imgPerfil" src="images/user2.png"alt="logo" height="200px">
							</div>
							</div>
							<div class="row">
								<a href='javascript:cambiarPestanna(pestanas,pestana2);'>
									<h3 id="h3Perfil" ng-click="changeview('/perfil')">{{$sessionStorage.currentUser.username}}</h3>
								</a>
							</div>
							<div class="row">
									<h4 id="h4Perfil">{{$sessionStorage.currentUser.mail}}</h4>
							</div>
							<div class="row">
									<button type="button" id="buttonBiblioteca" class="btn btn-default">
										<span class="glyphicon glyphicon-music" </span>
									</button>
									<a class = "labelPerfil" href='javascript:cambiarPestanna(pestanas,pestana2);'>Canciones</a>
							</div>

							<div class="row">
								<button type="button" id="buttonAmigos" class="btn btn-default">
									<span class="glyphicon glyphicon-user" </span>
								</button>
								<a class = "labelPerfil" href='javascript:cambiarPestanna(pestanas,pestana3);'>{{friends.length}} Amigos</a>
							</div>

							<div class="row">
									<button type="button" id="buttonEditar" class="btn btn-default">
										<span class="glyphicon glyphicon-pencil" </span>
									</button>
									<a class = "labelPerfil" href="#" ng-click="changeview('/editarPerfil')">Editar Perfil</a>
							</div>
						</div>
								<!-- Pestañas COMIENZO-->
						<div id="pestanasC">
							<div id="pestanas" class="col-md-6" >
		             <ul class="list-group" >
	                     <li id="pestana2" class="list-group-item"><a href='javascript:cambiarPestanna(pestanas,pestana2);'>Canciones</a></li>
	                     <li id="pestana3" class="list-group-item"><a href='javascript:cambiarPestanna(pestanas,pestana3);'>Amigos</a></li>
	                 </ul>
	          	</div>
	           <div id="contenidopestanas" class="col-md-8">
		           <div id="cpestana2">
		               LISTAR CANCIONES CON ANGULARJS
								</div>
		           <div id="cpestana3">
								 <table class="table table-striped">
									 <tr>
										 <th>
											 Nombre
										 </th>
										 <th>
											 Nombre de Usuario
										 </th>
										 <th>
										 		Correo
										 </th>
									 </tr>
									 <tr ng-repeat="friend in friends">
										 <td>
											 {{friend.name.first}} {{friend.name.last}}
										 </td>
										 <td>
											 {{friend.username}}
										 </td>
										 <td>
											 {{friend.mail}}
										 </td>
									 </tr>
								 </table>
								 <input class="form-control inputRegistro" type="text" name="name" ng-model="friendUsername" placeholder="Nombre de usuario">
								 <button type="button" id="buttonAgregar" class="btn btn-default" ng-click="addFriend()">
									 <span class="glyphicon glyphicon-plus"></span>
								 </button>
		           </div>
	           </div>
							<!-- pestañas FIN -->
						</div>
					</div>
	</div>
