<div id="perfilBody" ng-controller="ScanController">
				<!-- perfil -->
					<div class="divPerfil col-md-8 col-md-offset-2">
						<div id="PerfilBasico" class="col-md-4">

							<div class="row">
								<img id="imgPerfil" src="images/pic08.jpg"alt="logo" height="250px">
							</div>
							<div class="row">
								<a href="#">
									<h3 id="h3Perfil" ng-click="perfil()">{{$sessionStorage.currentUser.username}}</h3>
								</a>
							</div>
							<div class="row">
								<h4 id="h4Perfil">Correo electronico</h4>
							</div>
							<div class="row">
									<button type="button" id="buttonBiblioteca" class="btn btn-default">
										<span class="glyphicon glyphicon-music" </span>
									</button>
									<label class="labelBasico">0 Canciones creadas</label>
							</div>

							<div class="row">
								<button type="button" id="buttonAmigos" class="btn btn-default">
									<span class="glyphicon glyphicon-user" </span>
								</button>
								<label class="labelBasico">0 Amigos</label>
							</div>

							<div class="row">
									<button type="button" id="buttonEditar" class="btn btn-default">
										<span class="glyphicon glyphicon-pencil" ng-click="editarPerfil()"</span>
									</button>
									<label class="labelBasico" >Editar perfil</label>
							</div>
						</div>
								<!-- Pestañas COMIENZO-->
						<div id="pestanas" class="col-md-6" >
	             <ul class="list-group" >
                     <li id="pestana2" class="list-group-item"><a href='javascript:cambiarPestanna(pestanas,pestana2);'>Biblioteca</a></li>
                     <li id="pestana3" class="list-group-item"><a href='javascript:cambiarPestanna(pestanas,pestana3);'>Amigos</a></li>
                 </ul>
          	</div>
           <div id="contenidopestanas" class="col-md-8">
	           <div id="cpestana2">
	               El nombre hojas de estilo en cascada viene del inglés Cascading Style Sheets, del que toma sus siglas. CSS es un lenguaje usado para definir la presentación de un documento estructurado escrito en HTML o XML2 (y por extensión en XHTML). El W3C (World Wide Web Consortium) es el encargado de formular la especificación de las hojas de estilo que servirán de estándar para los agentes de usuario o navegadores.
	           </div>
	           <div id="cpestana3">
	               JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos,3 basado en prototipos, imperativo, débilmente tipado y dinámico.
	           </div>
           </div>
						<!-- pestañas FIN -->
					</div>
	</div>
