<div ng-controller="BookController">
	<div id="divregistro" class="banner">
				<form class="form-inline">
					<label class="col-lg-5 registroLabel"> Nombre  </label>
					<input id="nombreC" type="text" class=" form-control inputRegistro"  >
				</form>
				<form class="form-inline">
					<label class="col-lg-5 registroLabel"> Nombre de usuario </label>
					<input id="nickN" type="text" class=" form-control inputRegistro"  >
				</form>
				<form class="form-inline">
					<label class="col-lg-5 registroLabel"> Direccion de email  </label>
					<input id="correo" type="text" class=" form-control inputRegistro"  >
				</form>
				<form class="form-inline">
					<label class="col-lg-5 registroLabel"> Contraseña  </label>
					<input id="contrasena" type="password" class=" form-control inputRegistro"  >
				</form>
				<form class="form-inline">
					<label class="col-lg-5 registroLabel"> Confirma tu contraseña  </label>
					<input id="contrasena2" type="password" class=" form-control inputRegistro"  >
				</form>
				<a href="#"id="vernoticia" class="button special col-md-4 col-md-offset-4">Crear cuenta</a>
			</article>
		</div>
	</div>
